*{
    margin: auto;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
}
body{
    /* background-color: #fffbb1; */

    background-image: linear-gradient(to top,#E07A5F, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    display: flex;
    flex-direction: column;
    background-color: #758fbe;
    width: 450px;
    padding: 15px;
    border-radius: 8px;
    line-height: 20px;
    /* color: #fffbb1; */
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.3em;
}
input{
    width: 400px;
    text-align: center;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    height: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    /* background-color: #fffbb1; */
    transition: 1.5s;
}

input:hover, input:focus{
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    background-color: #E07A5F;
}

#res{
    line-height: 2em;
}
